<div class="search_form">
	<%= form_tag("/", :method => "get") do %>
	    <%= text_field_tag :user_id, params[:user_id], placeholder: "Enter Flickr ID" %><br/ ><br/ >
	    <%= submit_tag "Search" %>
	<% end %>
<br/ ><br/ >

	<div class="site_text">Try 156699110@N04 for pictures of the last 11 U.S. Presidents </div>

</div>
