<h1 id="front_header">Flickr ID Picture Search</h1><br/ >

<%= render 'search_form' %>


<% unless @photos.nil? %>
	<% if @photos == :invalid %>
		Invalid submission	
	<% elsif @photos == :empty %>
		This album does not contain any photos.
	<% else %>
		<%= render 'photos' %> 
	<% end %>
<% end %>