<h1 id="front_header">Flickr ID Picture Search</h1><br/ >

<div class="search_form">
	<%= form_tag("/", :method => "get") do %>
	    <%= text_field_tag :user_id, params[:user_id], placeholder: "Enter Flickr ID, ex: 148245594@N06 " %><br/ ><br/ >
	    <%= submit_tag "Search" %>
	<% end %>
</div>

<% if !@photos.nil? %>
	<% if @photos.empty? %>
		<div class="flickr_error">
			<h1>Error!</h1>
			<p>There is an error with your request. <br/ > Please make sure you have entered a valid Flickr id.</p>
		</div>
	<% else %>
		<div class="flickr">
		  <ul>
		    <% @photos.each do |row| -%>
		      <li>
		        <% row.each do |p| %>
		          <% info = flickr.photos.getInfo(:photo_id => "#{p}") %>
		          <%= link_to(image_tag(FlickRaw.url_z(info)), FlickRaw.url(info)) %>
		        <% end %>
		      </li>
		    <% end -%>
		  </ul>
		</div>
	<% end %>
<% end %>